{% extends "template.html" %}

{% block meta %}

{% end %}
{% block container %}


<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#state">State</a></li>
  <li><a data-toggle="tab" href="#Scheduler">Scheduler</a></li>
  <li><a data-toggle="tab" href="#weather">Weather</a></li>
  <li><a data-toggle="tab" href="#config">Config</a></li>
</ul>

<div class="tab-content">
  <div id="state" class="tab-pane fade in active">
    <h3>HOME</h3>
    <div id="row">
<!-- Zacatek jednoho panelu-->
      <div class="panel arom_panel_obs_nodes panel-default cfg_panel" id="panel_avilable"> <div class="panel-heading">Network cfg</div> <div class="panel-body" id="panel_inner_tree">
          </div>
      </div>

<!-- Konec panelu-->
    </div>


  </div><div id="weather" class="tab-pane fade">
    <h3>Weather</h3>
    <div id="row" onshow="UpdateDataTable">
<!-- Zacatek jednoho panelu-->

<div class="panel arom_panel_obs panel-default" id="panel_avilable"> <div class="panel-heading">Available devices</div> <div class="panel-body" id="weather_data_table">

</div></div>

<div class="panel arom_panel_obs panel-default" id="row" > <div class="panel-heading">Graph</div> <div class="panel-body" id="" style="padding: 0px;">
    <div id="container" style="height: {{400*2}}px; min-width: 310px; padding: 0px; " class="col-sm-12"></div>

</div></div>
<!-- Konec panelu-->
    </div>
  </div>


<!-- Konec panelu-->
    </div></div><div id="config" class="tab-pane fade">
    <h3>Config</h3>
    <div id="row" onshow="UpdateDataTable">
<!-- Zacatek jednoho panelu-->


<!-- Konec panelu-->
    </div>
</div>

<script>

function UpdateDataTable () {
    console.log("ahoj!!!!!!!");
    $("#weather_data_table").load("/observatory/weather/datatable");
}

</script>
<script type="text/javascript"> 
    function init(){
      //$("#panel_inner_tree").load("/observatory/cfg/"); 
      $("#weather_data_table").load("/observatory/weather/datatable");
    }

    $("#panel_avilable").click(function(){
        console.log("Klikl jsi");
        $("#weather_data_table").load("/observatory/weather/datatable"); 
    });
  

  function sec_5() {
        $("#weather_data_table").load("/observatory/weather/datatable"); 
  }
  
  var interval = setInterval(sec_5, 5000);
  init();

$("#panel_inner_tree").load("/observatory/cfg/"); 




</script>


<script type="text/javascript">
          // ===========================
            $(function(){
                $('.arom_panel_obs').lobiPanel({
                    sortable: true,
                    close: false,
                    editTitle: false
                      
                });
            });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<script type="text/javascript">
$(function () {
    

    $.getJSON('/observatory/weather/datatable/?type=json&data=weather&sens=2', function (data) {
      var data0 = [],
      {% set sql_groups = _sql('SELECT sensors_id, sensor_name, sensor_quantity_name, sensor_quantity_mark, sensor_data_type FROM AROM.sensors WHERE sensors_id > 1 GROUP BY sensor_data_type;', read=True) %}
      {% set sql_series = _sql('SELECT sensors_id, sensor_name, sensor_quantity_name, sensor_quantity_mark, sensor_data_type FROM AROM.sensors WHERE sensors_id > 1;', read=True) %}
      {% for row in sql_series %}
        {{row[1]}} = [],
      {% end %}
      {% set sql_groups_link={}%}
      {% set n = 0 %}
      {% for row in sql_groups %}
        {% set sql_groups_link[row[4]] = n %}
        {% set n += 1 %}
      {% end %}

      dataLength = data.length,
            
      i = 0

      for (i; i < dataLength; i += 1) {
          switch(data[i][2]) {
              {% for row in sql_series %}
                case {{row[0]}}:
                  {{row[1]}}.push([data[i][0], data[i][1]])
                  break;
              {% end %}
              
              default:
                  break;
          }
      }
        $('#container').html('');
        $('#container').highcharts('StockChart', {

            rangeSelector : {
                selected : 1,
                buttons: [{
                  type: 'hour',
                  count: 6,
                  text: '6h'
                },{
                  type: 'day',
                  count: 1,
                  text: 'd'
                },{
                  type: 'day',
                  count: 3,
                  text: '3d'
                }, {
                  type: 'day',
                  count: 7,
                  text: 'w'
                }, {
                  type: 'month',
                  count: 1,
                  text: 'm'
                }, {
                  type: 'month',
                  count: 6,
                  text: '6m'
                }/*, {
                  type: 'ytd',
                  text: 'YTD'
                }, {
                  type: 'year',
                  count: 1,
                  text: '1y'
                }*/, {
                  type: 'all',
                  text: 'All'
                }]
            },

            xAxis: {
              //events : {
              //    afterSetExtremes : newData,
              //},
              type: 'datetime',
              ordinal: false,
              dateTimeLabelFormats: { // don't display the dummy year
                  month: '%e. %b',
                  year: '%b'
              },
              title: {
                  text: 'Date'
              }
            },
            
            yAxis: [
              {% for i, row in list(enumerate(sql_groups)) %}
                  {
                    title: {
                        text: '{{row[4]}}'
                    },
                    top: '{{(100/len(sql_groups)+1)*(i)}}%',
                    height: '{{(100/len(sql_groups))-2}}%',
                    lineWidth : 1,
                    tooltip: {
                        valueDecimals: 2
                    }
                  },
              {% end %}

/*
              {
                title: {
                    text: 'Teplota'
                },
                height: '{{100/3-2}}%',
                lineWidth: 2
            }, {
                title: {
                    text: 'Volume'
                },
                top: '{{(100/3)*(2-1)}}%',
                height: '{{100/3-2}}%',
                offset: 0,
                lineWidth: 2
            }, {
                title: {
                    text: 'wind'
                },
                top: '{{(100/3)*(3-1)}}%',
                height: '{{100/3-2}}%',
                offset: 0,
                lineWidth: 2
            },*/],


            series : [
              {% for i, row in list(enumerate(sql_series)) %}
                  {
                    name : '{{row[1]}}',
                    data : {{row[1]}},
                    yAxis: {{sql_groups_link[row[4]]}},
                  },
              {% end %}

              /*{
                name : 'AWS_2',
                data : data0,
            },{
                name : 'AWS_8',
                data : data1,
            },{
                name : 'AWS_9',
                data : data2,
                yAxis: 1,
            },{
                name : 'AWS_aououeo',
                data : data3,
                yAxis: 2,
            },{
                name : 'AWS_aououeo',
                data : data4,
            },{
                name : 'AWS_aououeo',
                data : data5,
            }*/], 
            legend: {
                verticalAlign: 'middle',
                borderWidth: 1
            },credits: {
                enabled: false
            },

            chart: {
                zoomType: 'y'
            },

        });
    });

    function newData(e) {
        console.log("afterSetExtremes")
        console.log(e)
        console.log($('#container'))

        var chart = $('#container').highcharts();
        
        var currentExtremes = this.getExtremes(),
            range = e.max - e.min;
        //var chart = Highcharts.Chart("container");
        



        /*var chart = $('#container').highcharts();

        chart.showLoading('Loading data from server...');
        $.getJSON('https://www.highcharts.com/samples/data/from-sql.php?start=' + Math.round(e.min) +
                '&end=' + Math.round(e.max) + '&callback=?', function (data) {

            chart.series[0].setData(data);
            chart.hideLoading();
        });*/
    
    }

});


</script>
<script type="text/javascript">

    function UpdateDataTable () {
        console.log("ahoj!!!!!!!");
        $("#weather_data_table").load("/observatory/weather/datatable");
    }

</script>
<script type="text/javascript"> 
    function init(){
        $("#panel_inner_tree").load("/observatory/cfg/"); 
        $("#weather_data_table").load("/observatory/weather/datatable");
    }

    $("#panel_avilable").click(function(){
        console.log("Klikl jsi");
        $("#weather_data_table").load("/observatory/weather/datatable"); 
    });
  

    function sec_5() {
        $("#weather_data_table").load("/observatory/weather/datatable"); 
    }
  
    var interval = setInterval(sec_5, 5000);
    init();

    $("#panel_inner_tree").load("/observatory/cfg/"); 

</script>

{% for i, row in list(enumerate(sql_series)) %}
                  {{i}} -- {{row}}<br>
              {% end %}

{% for i, row in list(enumerate(sql_groups)) %}
                  {{i}} -- {{row}}<br>
              {% end %}

{{ _sql('SELECT sensors_id, sensor_name, sensor_quantity_name, sensor_quantity_mark, sensor_data_type FROM AROM.sensors WHERE sensors_id > 1 AND sensor_data_type = \''+'temp'+'\';')[0][0]}}

{{repr(sql_groups_link)}}

{% end %}




