<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap-responsive.css">
    <link rel="stylesheet" href="/lobi/lobipanel.min.css"/>
    <link rel="stylesheet" href="/lobi/lobibox.css"/>
    <link rel="stylesheet" href="/dashboard.css">
    <link rel="stylesheet" href="/bootstrap-responsive.css">
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

    <meta  name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script type="text/javascript" src="js/myJquery.js"></script>-->
    <script type="text/javascript" src="/ros/core/Ros.js"></script>
    <script type="text/javascript" src="/ros/RosLib.js"></script>
    <script type="text/javascript" src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.js"></script>
    <script type="text/javascript" src="http://cdn.robotwebtools.org/roslibjs/current/roslib.js"></script>
    <!--<script type="text/javascript" src="http://cdn.robotwebtools.org/roslibjs/current/core_ROS.js"></script>-->
    <!--<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    <!--<script type="text/javascript" src="https://code.highcharts.com/stock/highstock.js"></script> -->
    <!--<script type="text/javascript" src="https://code.highcharts.com/stock/modules/exporting.js"></script> -->
    <script type="text/javascript" src="/virtualsky-0.6.2.min.js"></script>



    <script src="/lib/jquery-2.2.3.min.js"></script>
    <script src="/lib/tether/js/tether.min.js" integrity=""></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js" integrity=""></script>
   
    <!--<script src="/bootstrap.min.js" type="text/html"></script>
    <script src="/jquery-ui.min.js"></script>-->
    <script src="/lobi/lobipanel.min.js"></script>
    <script src="/lobi/lobibox.js"></script>
    <script type="text/javascript">
        
        function setCookie(name, value){
            document.cookie = name+"="+value+""+"; path=/";
        }

        function getCookie(name){
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
    </script>
    <style type="text/css">
    .container-fluid{
        padding-top: 2em;
    }

    </style>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" type="text/javascript">
            var ros = new ROSLIB.Ros({
            url : 'ws://'+window.location.hostname+':9090'
            //url : 'ws://telescopeC.local:9090'
        }); 

        ros.on('connection', function() {
            //var fbDiv = document.getElementById('feedback');
            //fbDiv.innerHTML += "<p>Connected to websocket server.</p>";
        });

        ros.on('error', function(error) {
            //var fbDiv = document.getElementById('feedback');
            //fbDiv.innerHTML += "<p>Error connecting to websocket server.</p>";
        });

        ros.on('close', function() {
            //var fbDiv = document.getElementById('feedback');
            //fbDiv.innerHTML += "<p>Connection to websocket server closed.</p>";
        });


        var MountControl = new ROSLIB.Topic({
            ros : ros,
            name : '/arom/mount',
            messageType : 'arom/DriverControlm'    // tohle se zjisti v ''rostopic info ''
        });

        var MountMessage = new ROSLIB.Message({   //rosmsg show arom/DriverControlm
            name : "",
            type : "",
            data : "",
            validate : "",
            check : ""
        });
        var nodes = []

        ros.getParams(function(params) {
            //console.log(params);
        });
      
        ros.getNodes(function(params) {
            var i = 0;
            var len = params.length;
            for (; i < len; i++) { 
                if (params[i].indexOf("AROM") > -1){
                    nodes.push(params[i]);
                }
            }
            console.log(nodes);
        });
        console.log(nodes);  


        var listener = new ROSLIB.Topic({
            ros : ros,
            name : '/rosout',
            messageType : 'rosgraph_msgs/Log'
        });

        listener.subscribe(function(msg) {
            //console.log(msg);
            if (msg.level == 8 && getCookie("setting_alert_error") == 'true'){
                //console.log("ERROR !!!!!!!!!!!!!!!!!!!!!!!"+msg.level)
                Lobibox.notify('error', {
                    size: 'mini',
                    title: msg.name,
                    msg: msg.msg,
                    icon: false
                });
            }
            if (msg.level == 4 && getCookie("setting_alert_warn") == 'true'){
                //console.log("ERROR !!!!!!!!!!!!!!!!!!!!!!!"+msg.level)
                Lobibox.notify('warning', {
                    size: 'mini',
                    title: msg.name,
                    msg: msg.msg,
                    icon: false
                });
            }
            if (msg.level == 1 && getCookie("setting_alert_debug") == 'true'){
                //console.log("ERROR !!!!!!!!!!!!!!!!!!!!!!!"+msg.level)
                Lobibox.notify('success', {
                    size: 'mini',
                    title: msg.name,
                    msg: msg.msg,
                    icon: false
                });
            }
            if (msg.level == 2 && getCookie("setting_alert_info") == 'true'){
                //console.log("ERROR !!!!!!!!!!!!!!!!!!!!!!!"+msg.level)
                Lobibox.notify('info', {
                    delayToRemove: 100,
                    size: 'mini',
                    title: msg.name,
                    msg: msg.msg,
                    icon: false
                });
            }
        });


        $("#menu-toggle").click(function(e) {
            e.preventDefault();
        $("#wrapper").toggleClass("toggled");
       


    });

    </script>

    {% block meta %}{% end %}
  </head>
  <body >


    <!-- horni panel
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" id="header_title" href="/">{{title}}</a>

              <ul id="navbar" class="nav navbar-nav pull-right nav-collapse">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#" data-toggle="modal" data-target="#myModal" onclick="setting_set()">Setting</a> </li>
              </ul>
            </div>


            </div>
        </div>
    </div>

<!-- Modal settings
================================================== -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Setting</h4>
      </div>
      <div class="modal-body">
        <table>
            <tr>
                <td> sounds:</td>  <td><div class="checkbox"><input type="checkbox" value="" id="setting_alert_sound"></div></td></tr>
            <tr>
                <td> Fatal alerts:</td> <td><div class="checkbox"><input type="checkbox" value="" id="setting_alert_fatal"></div></td></tr>
            <tr>
                <td> Error alerts:</td> <td><div class="checkbox"><input type="checkbox" value="" id="setting_alert_error"></div></td></tr>
            <tr>
                <td> Warn alerts:</td> <td><div class="checkbox"><input type="checkbox" value="" id="setting_alert_warn"></div></td></tr>
            <tr>
                <td> Info alerts:</td>  <td><div class="checkbox"><input type="checkbox" value="" id="setting_alert_info"></div></td></tr>
            <tr>
                <td> Debug alerts:</td> <td><div class="checkbox"><input type="checkbox" value="" id="setting_alert_debug"></div></td></tr>
            <tr>
                <td> </td><td></td>
            </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="setting_update()">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- END - Modal settings
================================================== -->


    <div class="container-fluid">

        <!-- menu
        ================================================== -->
 
        <div class="row-fluid">
            <div class="span2 bs-docs-sidebar">
                <div class="panel panel-default">
                  <div class="panel-body">
                <ul class="nav nav-pills nav-stacked" id="left_menu_list">
                    <!--{% for menu_item in leftmenu %}
                        <li {% if menu_item[1] == actual %}class="active"{% end %} ><a href="{{menu_item[1]}}">{{menu_item[0]}}</a></li>
                    {% end %}-->
                    <li class="nav-divider"></li>
                    <li><a href="javascript:;"><i class="glyphicon glyphicon-off"></i> Sign in</a></li>
                    <li><a onclick="driverPage('/mount')">mount</a></li>
                    <li><a onclick="driverPage('/observatory')">Observatory</a></li>
                    <li class="nav-divider"></li>
                </ul>
                </div>
                </div>
            </div>
            <div class="span8">
                <div class="row" style="margin: 0px">
                    <div class="panel panel-default">
                        <div class="panel-body" id="container_body">
                            <div id="row" style="margin: 0px;">
                                {% block container %}{% end %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
        function setting_set(){
            document.getElementById("setting_alert_sound").checked = Boolean(getCookie("setting_alert_sound"));
            document.getElementById("setting_alert_fatal").checked = Boolean(getCookie("setting_alert_fatal"));
            document.getElementById("setting_alert_error").checked = Boolean(getCookie("setting_alert_error"));
            document.getElementById("setting_alert_warn").checked = Boolean(getCookie("setting_alert_warn"));
            document.getElementById("setting_alert_info").checked = Boolean(getCookie("setting_alert_info"));
            document.getElementById("setting_alert_debug").checked = Boolean(getCookie("setting_alert_debug"));
            //alert("SET"+document.cookie.split(';'))

            Lobibox.notify('error', {
                    size: 'mini',
                    title: 'sound',
                    msg: getCookie("setting_alert_sound"),
                    icon: false
            });
            Lobibox.notify('error', {
                    size: 'mini',
                    title: 'Fatal',
                    msg: getCookie("setting_alert_fatal"),
                    icon: false
            });
            Lobibox.notify('error', {
                    size: 'mini',
                    title: 'Error',
                    msg: getCookie("setting_alert_error"),
                    icon: false
            });
            Lobibox.notify('error', {
                    size: 'mini',
                    title: 'Warn',
                    msg: getCookie("setting_alert_warn"),
                    icon: false
            });
            Lobibox.notify('error', {
                    size: 'mini',
                    title: 'Info',
                    msg: getCookie("setting_alert_info"),
                    icon: false
            });
            Lobibox.notify('error', {
                    size: 'mini',
                    title: 'Debug',
                    msg: getCookie("setting_alert_debug"),
                    icon: false
            });
        }

        function setting_update(){
            setCookie("setting_alert_sound", document.getElementById("setting_alert_sound").checked);
            setCookie("setting_alert_fatal", document.getElementById("setting_alert_fatal").checked);
            setCookie("setting_alert_error", document.getElementById("setting_alert_error").checked);
            setCookie("setting_alert_warn", document.getElementById("setting_alert_warn").checked);
            setCookie("setting_alert_info", document.getElementById("setting_alert_info").checked);
            setCookie("setting_alert_debug", document.getElementById("setting_alert_debug").checked);
            //alert("UPDATE"+document.cookie.split(';'))
        }


        function driverPage(pagelink){
            $("#container_body").html("Loading.....");
            console.log('driverPage  --- ' + pagelink);

            if(typeof ajax_request !== 'undefined')
                    ajax_request.abort();

            $.ajax({url: pagelink,
                    type : "GET",
                    dataType : "html",
                    success: function(result){
                        if (pagelink.indexOf('/driver/') < 0) {
                            $('#container_body').html($(result).find('#container_body').html());
                            $("#header_title").html($(result).find('#header_title').html());
                            $('#container_body').find("script").each(function(i)   {
                                                                console.log($(this).text());
                                                                eval($(this).text());
                                                            });
                        } else {
                            var pagelinks = pagelink.split('/');
                            var l_driver = drivers[pagelinks[2]];
                            var config = l_driver.config;
                            var config_menu = []
                            
                            $('#container_body').html("<h3>driver - "+ l_driver.model +" </3>");

                            for (i in config) {
                                if (i.indexOf('#') < 0){
                                    console.log(i, config[i]);
                                    $('#container_body').append("<b>"+ i + "</b> =" + config[i]+"<br>");
                                }else{
                                    config_menu.push(i)
                                }
                            };
                            
                            $('#container_body').append(config_menu);

                            for (i in config_menu) {
                                var j = config_menu[i]
                                $('#container_body').append("<div class=\"panel arom_panel_obs panel-default\" id=\"panel_avilable\"> <div class=\"panel-heading\">"+j+"</div> <div class=\"panel-body\" id=\"weather_data_table\">");
                                
                                    console.log(j, config[j]);
                                    $('#container_body').append("<b>"+ j + "</b> =" + config[j]+"<br>");
                               
                                $('#container_body').append("</div> </div> </div>");

                            };

                        };
                    },
                    complete: function(result){
                        

                    }
            });
        }

        



        var drivers = [];
        if (true){  // TODO: zde bude prochazeni nodu a vytvareni ovladacich panelu
            var node = '/AROM_camera'
            var params = null

            var camera = new ROSLIB.Param({
                ros : ros,
                name : '/AROM_camera'
            });

            camera.get(function(value) {
                console.log('MAX VAL: ' + value.gphoto);
                console.log(value);
                drivers = value;

                for(key in value){
                    console.log("pridat klic - " + key);

                    var ul = document.getElementById("left_menu_list");
                    var li = document.createElement("li");
                    li.innerHTML = "<a onclick=\"driverPage('/driver/"+value[key].config.name+"')\" data-toggle=\"tooltip\" title="+value[key].model+" >" + value[key].config.civil_name + "</a>"
                    ul.appendChild(li);
                    console.log(ul + "  -- " + value[key].model);

                }
            });
        }

    </script>
    {% block last %}{% end %}

  </body>
</html>
